<!-- Tambahkan activity baru di dalam <application> -->

<!-- PilihJilidActivity -->
<activity
    android:name=".PilihJilidActivity"
    android:exported="false"
    android:screenOrientation="portrait"
    android:theme="@style/AppTheme"
    android:parentActivityName=".HomeActivity">
    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".HomeActivity" />
</activity>

    <!-- ManajemenSoalActivity -->
<activity
android:name=".ManajemenSoalActivity"
android:exported="false"
android:screenOrientation="portrait"
android:theme="@style/AppTheme"
android:parentActivityName=".PilihJilidActivity">
<meta-data
    android:name="android.support.PARENT_ACTIVITY"
    android:value=".PilihJilidActivity" />
</activity>

    <!-- HistoriActivity -->
<activity
android:name=".HistoriActivity"
android:exported="false"
android:screenOrientation="portrait"
android:theme="@style/AppTheme"
android:parentActivityName=".HomeActivity">
<meta-data
    android:name="android.support.PARENT_ACTIVITY"
    android:value=".HomeActivity" />
</activity>

    <!-- TambahSoalActivity (opsional, untuk fitur tambah soal) -->
<activity
android:name=".TambahSoalActivity"
android:exported="false"
android:screenOrientation="portrait"
android:theme="@style/AppTheme"
android:parentActivityName=".ManajemenSoalActivity">
<meta-data
    android:name="android.support.PARENT_ACTIVITY"
    android:value=".ManajemenSoalActivity" />
</activity>

    <!-- LihatSoalActivity (opsional, untuk fitur lihat soal) -->
<activity
android:name=".LihatSoalActivity"
android:exported="false"
android:screenOrientation="portrait"
android:theme="@style/AppTheme"
android:parentActivityName=".ManajemenSoalActivity">
<meta-data
    android:name="android.support.PARENT_ACTIVITY"
    android:value=".ManajemenSoalActivity" />
</activity>